<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="includes :: meta_link" />
    <title>Error</title>
    <thymeleaf th:replace="includes :: script" />
</head>
<body>
    <nav th:replace="includes :: header"></nav>

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1>An error has occurred :(</h1>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
</html>
