<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="includes :: meta_link" />
    <title>New Question</title>
    <thymeleaf th:replace="includes :: script" />
</head>
<body>
    <nav th:replace="includes :: header(page='new')"></nav>

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">

                <h2>Ask your question</h2>

                <form th:action="@{/q}" method="POST">
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input id="subject" type="text" name="subject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="body">Details</label>
                        <textarea id="body" name="body" class="form-control" rows="15"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
