<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="includes :: meta_link" />
    <title>Question Details</title>
    <thymeleaf th:replace="includes :: script" />
    <script th:src="@{/client/js/vote.js}" th:defer="defer"></script>
</head>
<body>
    <nav th:replace="includes :: header"></nav>

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-2" th:id="'question_' + ${question.id}">
                <h3>
                    <a href="" class="down" th:classappend="${question.currentUserVote != null and not question.currentUserVote.isUp()} ? selectedDown : ''">&ddarr;</a>
                    <span th:text="${question.score}"></span>
                    <a href="" class="up" th:classappend="${question.currentUserVote != null and question.currentUserVote.isUp()} ? selectedUp : ''">&uuarr;</a>
                </h3>
            </div>
            <div class="col-md-10">

                <h2 th:text="${question.subject}"></h2>
                <hr />
                <p th:text="${question.body}"></p>
                <h6 class="userTimestamp"><span th:text="${question.userName}"></span> - <span th:text="${#dates.format(question.timestamp,'dd-MM-yyyy HH:mm')}"></span></h6>
                <hr />

            </div>
        </div>

        <div th:each="answer : ${answers}" class="row-fluid">
            <div class="col-md-2" th:id="'answer_' + ${answer.id}">
                <h4>
                    <a href="" class="down" th:classappend="${answer.currentUserVote != null and not answer.currentUserVote.isUp()} ? selectedDown : ''">&ddarr;</a>
                    <span th:text="${answer.score}"></span>
                    <a href="" class="up" th:classappend="${answer.currentUserVote != null and answer.currentUserVote.isUp()} ? selectedUp : ''">&uuarr;</a>
                </h4>
            </div>
            <div class="col-md-10">

                <p th:text="${answer.body}"></p>
                <h6 class="userTimestamp"><span th:text="${answer.userName}"></span> - <span th:text="${#dates.format(answer.timestamp,'dd-MM-yyyy HH:mm')}"></span></h6>
                <hr />

            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-2"></div>
            <div class="col-md-10">

                <h2>My answer</h2>
                <form th:action="@{/a}" method="POST">
                    <div class="form-group">
                        <textarea id="body" name="body" class="form-control" rows="10"></textarea>
                    </div>
                    <input type="hidden" th:value="${question.id}" name="parentId" />
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
